.comment-list, #reply {
  width: 100vmin;
}

.comment-username {
  font-size: 1.5em;
  text-align: center;
  display: inline-flex;
  padding: 0.5em 5px;
  margin: 0px;
}

.comment-avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 5px 0px 0px 5px;
  display: inline-flex;
}

.comment-top {
  display: flex;
}

.comment-content {
  margin: 0px;
  padding: 5px;
  display: block;
}

.comment {
  color:black;
  background-color: white;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 0 5px 0;
  width: 100%;
}

#reply-btn {
  color: grey;
  border-color: grey;
}
#reply-btn:hover {
  color: black;
  border-color: black;
  cursor: text;
}

#reply {
  background: white;
  position: fixed;
  z-index: 100;
  display: none;
  bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

#reply-textbox {
  margin: 0px;
  padding: 5px;
  display: block;
  width: calc(100% - 10px);
  border: none;
  outline: none;
  resize: none;
}

