#comments {
  display: block;
  margin: auto;
}

.comment-list, #reply {
  width: 100vmin;
}

.comment-username {
  font-size: 1.5em;
  text-align: center;
  display: inline-flex;
  padding: 0.5em 5px;
  margin: 0px;
  color: black;
  text-decoration: none;
}

.comment-avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 5px 0px 0px 5px;
  display: inline-flex;
}

.comment-top {
  display: flex;
}

.comment-content {
  margin: 0px;
  padding: 5px;
  display: block;
}

.comment {
  color:black;
  background-color: white;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 0 5px 0;
  width: 100%;
  position: relative;
}

#reply-btn {
  color: grey;
  border-color: grey;
}
#reply-btn:hover {
  color: black;
  border-color: black;
  cursor: text;
}

#reply {
  background: white;
  position: fixed;
  z-index: 100;
  display: none;
  bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

#reply-textbox {
  margin: 0px;
  padding: 5px;
  display: block;
  width: calc(100% - 10px);
  border: none;
  outline: none;
  resize: none;
}

.comment-menu {
  position: absolute;
  right: 2px;
  top: 2px;
}

.comment-menu-img {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  padding: 5px;
  display: block;
}

.comment-menu-img:hover {
  background-color: #d8d8d8;
}

.comment-menu:hover .comment-menu-img {
  background-color: #d8d8d8;
}

.comment-menu-options {
  position: absolute;
  display: none;
  z-index: 100;
}

.comment-menu-options input {
  display: block;
}

.comment-menu:hover .comment-menu-options {
  display: block;
}

.comment-upvote {
  float: right;
  display: flex;
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 99;
}

.post-name {
  text-align: center;
}

