body {
	font-family: Tahoma, sans-serif;
	background-color: #121212; /* Dark background */
	color: #e0e0e0; /* Light text color for general readability */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	margin-top: 2.5em;
	background: #202020; /* Darker panel background */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
}

.main-header {
	text-align: center;
	margin-bottom: 20px;
}

.main-header h1 {
	font-size: 36px;
	color: #e0e0e0; /* Adjusted text color */
}

.main-nav {
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
}

.main-nav a {
	color: #e0e0e0; /* Light text color for readability */
	background-color: #444; /* Dark background for links */
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.main-nav a:hover {
	background-color: #555; /* Slightly lighter hover effect */
}

.intro {
	text-align: center;
	margin-bottom: 30px;
}

.intro p {
	font-size: 18px;
	color: #e0e0e0; /* Adjusted text color */
}

.discord-link {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #7289da;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.discord-link:hover {
	background-color: #5a6fb2;
	color: #fff;
}

.featured-projects {
	margin-bottom: 30px;
}

.featured-projects h2 {
	font-size: 24px;
	color: #e0e0e0; /* Adjusted text color */
	text-align: center;
	margin-bottom: 20px;
}

.main-footer {
	text-align: center;
	margin-top: 20px;
	padding: 10px 0;
	background-color: #444; /* Dark background for footer */
	color: #fff; /* Text color */
	border-radius: 0 0 10px 10px;
}
