body {
  font-family: Tahoma, sans-serif;
}
.topnav {
  background-color: #ffffff;
  color: #000000;
  height: 2.5em;
  font-size: 0.9em;
  text-decoration: none;
}
.usernameHeader {
  font-size: 2.01em;
}
.role {
  font-size: 1.1em;
}
.uidtext {
  font-size: 0.5em;
}
.project-panel {
  color: #000000;
  text-decoration: none;
  width: 200px;
  min-width:200px;
  height: 300px;
  min-height: 300px;
  /*display: inline-block;*/

  flex:1;
}

.project-thumbnail {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#list{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  flex-direction: row;
  align-items: stretch;
}

.thumbnail-border{
  border: solid black 2px;
  min-height:200px;
  min-width:200px;
}