body {
  font-family: Tahoma, sans-serif;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color for general readability */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-panel, .post-panel, .user-panel {
  color: #e0e0e0;
  background-color: #333333; /* Darker panels */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More prominent shadow */
  transition: transform 0.2s, box-shadow 0.2s;
  align-items: center;
  justify-content: center;
  overflow: show;
  cursor: pointer;
}

.post-panel, .user-panel {
  padding: 5px;
  display: block;
}

.post-panel {
  width: 80vw;
}

.user-panel {
  width: 305px;
}

.project-panel {
  max-width: 205px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-panel:hover, .post-panel:hover, .user-panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Even darker shadow on hover */
}

.project-thumbnail {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.project-list, .post-list, .user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3em 1em 1em;
  box-sizing: border-box;
}

.thumbnail-border {
  border: solid #555 2px; /* Darker border color */
  min-height: 200px;
  min-width: 200px;
  border-radius: 10px;
}

.project-link, .post-top {
  text-align: center;
}
