body {
  font-family: Tahoma, sans-serif;
}
.topnav {
  background-color: #ffffff;
  color: #000000;
  height: 2.5em;
  font-size: 0.9em;
  text-decoration: none;
}
.usernameHeader {
  font-size: 2.01em;
}
.role {
  font-size: 1.1em;
}
.uidtext {
  font-size: 0.5em;
}
.project-panel {
  color: #000000;
  text-decoration: none;
  width: 200px;
  height: 300px;
  display: inline-block;
}

.project-thumbnail {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
