/*
	Frontend V2 <3
	By yours truly, Colack

	'This shits amazing' - Dad
	'Looks cool to me' - My cat
	'I love this' - girl
*/

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
	--palette-primary: #de6c83;
	--palette-secondary: #2cf6be;
	--palette-midtone: #c1aac0;

	--palette-primary-hover: rgba(222, 108, 131, 0.8);
	--palette-secondary-hover: rgba(44, 246, 190, 0.8);
	--palette-midtone-hover: rgba(193, 172, 192, 0.8);

	--palette-midtone: #ff9c9c;
	--palette-accent: #b9ff8d;
	--palette-subaccent: #f08dff;

	--palette-midnight: #21005d;
	--palette-daytime: #d4af37;

	--palette-discord: #7289da;
	--palette-link: #ff9c9c;
	--palette-link-hover: #f08dff;

	--palette-white: #ffffff;
	--palette-background-grey: #151515;
	--palette-foreground-grey: #272727;
	--palette-subground-grey: #3d3d3d;
	--palette-subforeground-grey: #4d4d4d;

	--palette-user-status-online: #43b581;
	--palette-user-status-idle: #faa61a;
	--palette-user-status-offline: #747f8d;

	--palette-role-admin: #f04747;
	--palette-role-staff: #43b581;
	--palette-role-mod: #813d9c;

	--palette-project-border-featured: #d4af37;
	--palette-project-border-gamejam-winner: #43b581;
	--palette-project-border-default: #7289da;

	--spill-color1: #de6c83;
	--spill-color2: #ff2e58;
	--spill-color3: #2cf6b3;
	--spill-color4: #00b377;

	--title-font: 'Fugaz One', sans-serif;
	--title-font-weight: 400;
	--title-font-size: 2.5em;

	--body-font: Tahoma, sans-serif;
	--body-font-weight: 400;
	--body-font-size: 1em;
}

body {
	background-color: var(--palette-background-grey);
	color: var(--palette-white);
	font-family: var(--body-font);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-text {
	font-family: var(--title-font);
	background: linear-gradient(90deg, var(--spill-color1), var(--spill-color2), var(--spill-color3), var(--spill-color4));
	background-size: 200% 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: liquidSpill 4s ease-in-out infinite;
}

@keyframes liquidSpill {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a, .link {
	color: var(--palette-link);
	text-decoration: none;
	font-size: 1em;
	transition: color 0.2s;
}

a:hover, .link:hover {
	color: var(--palette-link-hover);
}

input[type=button], input[type=submit], button, select, option, .button {
	width: var(--button-width, auto);
	height: var(--button-height, auto);
	/*background-color: var(--palette-secondary);*/
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("/images/button.png");
	background-blend-mode: darken;
	color: var(--palette-white);
	border: none;
	border-radius: 50px;
	padding: 8px 16px;
	font-family: var(--text-font);
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
}

input[type=button]:hover, input[type=submit]:hover, button:hover, .button:hover {
	/*background-color: var(--palette-secondary-hover);*/
	background-color: rgba(0, 0, 0, 0.3)
	color: var(--palette-white);
}

#deletebtn, #discardbtn {
	background-color: rgb(255,0,0,0.8);
}
#deletebtn:hover, #discardbtn:hover {
	background-color: rgb(255,0,0);
}

.pink-button {
	background-color: var(--palette-primary);
	color: var(--palette-white);
}

.pink-button:hover {
	background-color: var(--palette-primary-hover);
	color: var(--palette-white);
}

input[type=text], input[type=password], input[type=email], textarea, .uploadbutton {
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid var(--palette-primary);
	border-radius: 5px;
	background-color: var(--palette-foreground-grey);
	color: var(--palette-white);
	font-family: var(--text-font);
	font-size: 1em;
	transition: border-color 0.2s;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, .uploadbutton:hover {
	border-color: var(--palette-primary-hover);
	background-color: var(--palette-foreground-grey);
	outline: none;
}

label > input[type=checkbox] {
	display: none;
}

.checkbox {
	display: inline-flex;
	width: 20px;
	height: 20px;
	border: 2px solid var(--palette-primary);
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	margin: 0px 0px 5px 5px;
}

.checkbox::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	background-color: var(--palette-primary);
	border-radius: 2px;
	opacity: 0;
}

label {
	display: inline-flex;
}

input[type=checkbox]:checked + .checkbox::after {
	opacity: 1;
}

.card {
	background-color: var(--palette-subground-grey);
	color: var(--palette-white);
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	font-family: var(--text-font);
	text-decoration: none;
}

.card-title {
	font-family: var(--title-font);
	font-size: 1.5em;
	margin-bottom: 10px;
	color: var(--palette-primary);
}

.card-content {
	font-size: 1em;
}

.project-panel, .post-panel, .user-panel {
	color: #e0e0e0;
	background-color: #333333;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
	transition: transform 0.2s, box-shadow 0.2s;
	align-items: center;
	justify-content: center;
	overflow: show;
	cursor: pointer;
	text-decoration: none;
}

.project-panel:hover, .post-panel:hover, .user-panel:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
	text-decoration: none;
	color: #e0e0e0;
}

.project-panel:hover .project-tags {
	opacity: 1;
	visibility: visible;
}

.post-panel, .user-panel {
	padding: 5px;
	display: block;
}

.post-panel {
	width: 80vw;
}

.project-tags {
	display: flex;           
	opacity: 0;         
	visibility: hidden;  
	transition: opacity 0.3s ease, visibility 0.3s ease; 
	justify-content: center;
	flex-wrap: wrap;
	line-height: 0px;
}

.forum-tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	line-height: 0px;
	gap: 0px 8px;
}

.project-tags p, .forum-tags p {
	background-color: #444;
	font-size: 15px;
	color: #e0e0e0;
}

.user-panel {
	width: 305px;
}

.project-panel {
	max-width: 205px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.project-thumbnail {
	max-width: 190px;
	max-height: 190px;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}

.project-list, .post-list, .user-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 0em 1em 1em 0em;
	box-sizing: border-box;
}

.thumbnail-border {
	background-image: linear-gradient(to right, pink, lightgreen);
	min-width: 200px;
	min-height: 200px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px pink;
	transition: box-shadow 0.3s;
	display: flex;          
	align-items: center;         
}

.project-link, .post-top {
	text-align: center;
}

.comment-username {
	font-size: 1.5em;
	text-align: center;
	display: inline-flex;
	padding: 0.5em 5px;
	margin: 0px;
}

.comment-avatar {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	display: inline-flex;
}
