#debugResizeBar {
  width: 100%;
  height: 13px;
  line-height: 13px;
  color: #c6cacd;
  font-size: 24px;
  text-align: center;
  cursor: ns-resize;
  white-space: nowrap;
}

#debug-buttons {
  display: inline;
  white-space: normal;
}

.debugger_button {
  border: 1px solid #0094ca;
  background-color: #0094ca;
  color: #fff;
  margin-left: 0;
  margin-right: 3px;
  padding: 3px 6px;
  font-size: 14px;
  min-width: 120px;
}
.debugger_button:disabled {
  cursor: not-allowed;
}
.debugger_button:disabled:active {
  border: none !important;
}

#continueButton {
  border-color: #ffa400;
  background-color: #ffa400;
}

.debugger_button:focus {
  outline-style: none;
}

.debugger_button > img {
  float: left;
  opacity: 1;
}

#debug-area {
  position: absolute;
  bottom: 0;
  height: 43px;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: calc(50% - 16px) !important;
}

#codeTextbox.pin_bottom {
  bottom: 43px;
}

#debug-commands-header {
  width: 270px;
  float: left;
  border-right: 1px solid gray;
}
#debug-commands-header .fa {
  margin: 0 0.25em;
}

#watchersResizeBar {
  height: 100%;
  width: 13px;
  cursor: ew-resize;
  position: absolute;
  right: 193.5px;
  z-index: 1;
  top: 13px;
}

.debug-commands,
.debug-console,
.debug-watch {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: 43px;
  bottom: 0;
}

.debug-commands {
  left: 0;
  width: 270px;
  text-align: center;
}

.debug-watch {
  right: 0;
  width: 200px;
  overflow-y: scroll;
}
.debug-watch.no-commands {
  max-width: calc(100% - 130px);
}

.debug-watch *,
.debug-watch input {
  font-family: monospace;
  font-size: 12px;
}

.debug-watch-item {
  margin: 0;
  line-height: 14px;
  clear: both;
  margin-bottom: 1px;
}
.debug-watch-item .watch-variable,
.debug-watch-item .watch-separator {
  color: purple;
}
.debug-watch-item .watch-unavailable {
  color: red;
}

.debug-console {
  left: 270px;
  right: 200px;
  min-width: 130px;
}
.debug-console.no-commands {
  left: 0;
}
.debug-console.no-watch {
  right: 0;
}

.debug-console *,
.debug-console input {
  font-family: monospace;
  font-size: 12px;
}

#slider-cell {
  float: left;
  cursor: default;
}

/* Slider. */
.sliderContainer {
  float: left;
}

.sliderTrack {
  stroke: #ebe8f1;
  stroke-width: 4px;
  stroke-linecap: round;
}

.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.pause-btn {
  background-position: 0 -84px;
  margin-right: 3px;
}

.continue-btn {
  background-position: -21px -84px;
  margin-right: 3px;
}

.step-in-btn {
  background-position: 0 -105px;
  margin-right: 3px;
}

.step-out-btn {
  background-position: -21px -105px;
  margin-right: 3px;
}

.step-over-btn {
  background-position: 0 21px;
  margin-right: 3px;
}

#visualizationOverlay {
  position: absolute;
  top: 0;
  left: auto;
  overflow: hidden;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#divGameLab {
  overflow: hidden;
  outline: none;
  -webkit-touch-callout: none;
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#divGameLab.withCrosshair {
  cursor: crosshair;
}

.legacy-share-view #runButton,
.legacy-share-view #resetButton {
  display: none !important;
}
.legacy-share-view #studio-dpad-container {
  margin-top: -24px;
}

#visualizationOverlay {
  z-index: 2;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/gamelab/icons.png");
  background-size: 42px 147px;
}

.code {
  background-position: -21px 0;
}

.link {
  background-position: 0 0;
}

.run {
  background-position: 0 -21px;
  margin-right: 3px;
}

.stop {
  background-position: -21px -21px;
  margin-right: 3px;
}

.dpad-btn {
  background-position: -21px -63px;
}

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px;
}

.right-btn {
  background-position: -21px -126px;
  margin-right: 3px;
}

.up-btn {
  background-position: 0 -63px;
  margin-right: 3px;
}

.down-btn {
  background-position: 0 -42px;
  margin-right: 3px;
}

#share-cell {
  display: inline-block;
  vertical-align: top;
}
#share-cell.share-cell-none {
  display: none;
}

#studio-dpad {
  position: absolute;
  height: 152px;
  width: 390px;
  vertical-align: top;
  margin-left: 10px;
  -webkit-touch-callout: none;
}

#studio-dpad-rim {
  position: absolute;
  width: 0;
  height: 0;
  border: 76px solid #fff;
  border-radius: 76px;
  box-shadow: 1px 1px 1px 0 #7f7f7f;
}

#studio-dpad-cone {
  position: absolute;
  margin: 2px;
  width: 0;
  height: 0;
  border: 74px solid #9c9c9c;
  border-radius: 74px;
}
#studio-dpad-cone.left {
  border-top-color: #ffd080;
  transform: rotate(270deg);
}
#studio-dpad-cone.left.down {
  transform: rotate(220deg);
}
#studio-dpad-cone.left.up {
  transform: rotate(320deg);
}
#studio-dpad-cone.right {
  border-top-color: #ffd080;
  transform: rotate(90deg);
}
#studio-dpad-cone.right.down {
  transform: rotate(140deg);
}
#studio-dpad-cone.right.up {
  transform: rotate(40deg);
}
#studio-dpad-cone.up {
  border-top-color: #ffd080;
  transform: rotate(0deg);
}
#studio-dpad-cone.down {
  border-top-color: #ffd080;
  transform: rotate(180deg);
}

#studio-dpad-button {
  display: inline;
  position: relative;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  margin: 36px 5px 5px 36px;
  border: 1px solid #efefef;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0 #7f7f7f;
}
#studio-dpad-button.active {
  border: 1px solid #9f9f9f;
  box-shadow: none;
}
#studio-dpad-button.left {
  left: -17px;
}
#studio-dpad-button.left.up {
  left: -12px;
  top: -12px;
}
#studio-dpad-button.left.down {
  left: -12px;
  top: 12px;
}
#studio-dpad-button.right {
  left: 17px;
}
#studio-dpad-button.right.up {
  left: 12px;
  top: -12px;
}
#studio-dpad-button.right.down {
  left: 12px;
  top: 12px;
}
#studio-dpad-button.up {
  top: -17px;
}
#studio-dpad-button.down {
  top: 17px;
}

#studio-space-button {
  position: absolute;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  right: 10px;
  margin: 5px;
  border-color: #666;
  background-color: #ffa000;
  box-shadow: inset 1px 1px 0 0 #ffd07f;
}
#studio-space-button.active {
  border-radius: 39px;
  width: 78px;
  height: 78px;
  margin-right: 6px;
  margin-top: 6px;
}
#studio-space-button:focus {
  outline: 0;
}